@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-Black.ttf") format("truetype");

  font-weight: 900; //black
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype");

  font-weight: 900; //black
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");

  font-weight: 800; //extra-bold
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");

  font-weight: 800; //extra-bold
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-Bold.ttf") format("truetype");

  font-weight: 700; //bold
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");

  font-weight: 700; //bold
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");

  font-weight: 600; //semi-bold
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");

  font-weight: 600; //semi-bold
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-Regular.ttf") format("truetype");

  font-weight: 400; //regular
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-Italic.ttf") format("truetype");

  font-weight: 400; //regular
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-Light.ttf") format("truetype");

  font-weight: 300; //Light
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");

  font-weight: 300; //Light
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");

  font-weight: 200; //Extra-light
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/src/fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype");

  font-weight: 200; //Extra-light
  font-style: italic;
}
