a {
  color: #000;
  text-decoration: none;
}

body {
  background: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  cursor: default;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
}
