.f-title {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: red;
}

.f-title-2 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: red;
}
