a {
  color: #000;
  text-decoration: none;
}

body {
  background: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  cursor: default;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
}

.f-title {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: red;
}

.f-title-2 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: red;
}
